.body {
  margin: 0 !important;
  font-family: sans-serif;
  background-color: #f1f1f1;
}

.header {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.title-home {
  pointer-events: none;
  cursor: default;
  color: blue !important;
}

.header a:hover:not(.title-home) {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

.box-home {
  min-height: 20rem;
  background-color: #262626;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-class {
  position: relative;
  display: inline-block;
}

.dropdown button {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #333;
  border-radius: 4px;
  width: 16.4rem;
}

.dropdown-class button {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #333;
  border-radius: 4px;
  width: 16.4rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-content-class {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-content option {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #f7f7f7;
}

.dropdown-content-class option {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #f7f7f7;
}

.dropdown-content option:hover {
  background-color: #e7e7e7;
}

.dropdown-content-class option:hover {
  background-color: #e7e7e7;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-input-class {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
